@media screen and (min-width: 601px) {
  body {
    background-image: radial-gradient(circle, red,orange,yellow,green,blue,indigo,violet);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    color: black;
    padding-top: 60px;
  }
  .container {
    border: 3px solid grey;
    background: whitesmoke;
    box-shadow: 10px 10px rgb(28, 28, 134);
    border-radius: 10px;
    width: 250px;
  }
  .nopadding {
    padding: 5px;
  }
  .btn_change:hover {
    background-color: blueviolet;
  }
  .btn_change1:hover {
    background-color: rgb(1, 1, 75);
  }
  .btn_font {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: radial-gradient(circle, red, yellow, green);
  }
  .container {
    border: 3px solid grey;
    margin-top: 2px;
    background: whitesmoke;
    box-shadow: 10px 10px rgb(28, 28, 134);
    border-radius: 10px;
    width: 50%;
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-style: bold;
    color: blue;
  }
  .nopadding {
    padding: 5px;
  }
  .btn_change:hover {
    background-color: blueviolet;
  }
  .btn_change1:hover {
    background-color: rgb(1, 1, 75);
  }
  .btn_font {
    font-size: 30px;
  }
}
